{% extends "home.html" %}

{% block title %}Автор{% endblock %}

{% block content %}
<div class="container p-3">
    <div class="alert alert-danger mt-3" role="alert">
        <h4 class="alert-heading">Удаление автора</h4>
        <p><strong>Вы уверены, что хотите удалить автора:</strong> {{ object.full_name }}?</p>
        <hr>
        <form action="{% url 'books:author_delete' object.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
    </div>
</div>
{% endblock %}
