{% extends "home.html" %}

{% block title %}Автор{% endblock %}

{% block content %}
<div class="container">
    <div class="form-signin shadow-lg border border-2 rounded bg-white p-3 mt-3">
        <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p class="h4 mb-3 fw-normal text-center">Редактирование автора</p>
        <div class="mb-3 col">
            <label class="form-label" for="{{ form.name.id_for_label }}">Имя</label>
            <input type="text" id="{{form.name.id_for_label}}"
            name="{{form.name.name}}" value="{{form.name.value}}"
            aria-describedby="nameHelp" class="form-control">
            {% if form.name.errors %}
                <div id="nameHelp" class="form-text">
                    {% for error in form.name.errors %}
                        <p>{{ error|escape }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3 col">
            <label class="form-label" for="{{ form.surname.id_for_label }}">Фамилия</label>
            <input type="text" id="{{form.surname.id_for_label}}"
            name="{{form.surname.name}}" value="{{form.surname.value}}"
            aria-describedby="surnameHelp" class="form-control">
            {% if form.surname.errors %}
                <div id="surnameHelp" class="form-text">
                    {% for error in form.surname.errors %}
                        <p>{{ error|escape }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3 col">
            <label class="form-label" for="{{ form.patronymic.id_for_label }}">Отчество</label>
            <input type="text" id="{{form.patronymic.id_for_label}}"
            name="{{form.patronymic.name}}" value="{{form.patronymic.value}}"
            aria-describedby="patronymicHelp" class="form-control">
            {% if form.patronymic.errors %}
                <div id="patronymicHelp" class="form-text">
                    {% for error in form.patronymic.errors %}
                        <p>{{ error|escape }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3 col">
            <label class="form-label" for="{{ form.birthday.id_for_label }}">Дата рождения</label>
            <input type="date" id="{{form.birthday.id_for_label}}"
            name="{{form.birthday.name}}" value="{{form.get_date}}"
            aria-describedby="birthdayHelp" class="form-control">
            {% if form.birthday.errors %}
                <div id="birthdayHelp" class="form-text">
                    {% for error in form.birthday.errors %}
                        <p>{{ error|escape }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="mb-2 w-100 btn btn-primary">Редактировать</button>
        <a href="{% url 'books:author_list' %}">К списку авторов</a>
    </form>
    </div>
</div>

{% endblock %}