{% extends "home.html" %}

{% block title %}Автор{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-7">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Автор</h3>  
                    <div>
                        <p class="card-text"><strong>Имя:</strong> {{ object.name }}</p>
                        <p class="card-text"><strong>Фамилия:</strong> {{ object.surname }}</p>
                        <p class="card-text"><strong>Отчество:</strong> {{ object.patronymic }}</p>
                        <p class="card-text"><strong>Дата рождения:</strong> {{ object.birthday }}</p>
                        <a class="card-link" href="{% url 'books:author_list' %}">К списку авторов</a>
                        <a class="card-link" href="{% url 'books:author_edit' object.pk %}">Редактировать автора</a>
                        <a class="card-link" href="{% url 'books:author_delete' object.pk %}">Удалить автора</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
