{% extends "home.html" %}

{% block title %}Авторы{% endblock %}

{% block content %}
<div class="container">
    <div class="row px-3 gx-3">
        <div class="col">
            <h3>Авторы</h3>
            <p class="mb-2">
                <a href="{% url 'books:author_create' %}" class="btn btn-sm btn-primary">Добавить</a> автора
            </p>
        </div>
        <hr class="mb-2">
    </div>
    <div class="row justify-content-center justify-content-lg-start px-3 gx-3 gy-2">
        {% for object in author_list %}
            <div class="col-12 col-lg-6">
                <div class="border border-2 rounded p-2">
                    <p class="m-0">
                        <strong>Автор:</strong> {{ object.full_name }}
                    </p>
                    <a class="link-primary" href="{% url 'books:author' object.pk %}">Подробно</a>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
