{% extends "home.html" %}

{% block title %}Автор{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="form-signin shadow-lg bg-white">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p class="h3 mb-3 fw-normal text-center">Добавление автора</p>
            <div class="mb-3">
                <label class="form-label" for="{{ form.name.id_for_label }}">Имя</label>
                <input type="text" id="{{form.name.id_for_label}}" name="{{form.name.name}}"
                class="form-control" aria-describedby="nameHelp">
                {% if form.name.errors %}
                    <div class="form-text" id="nameHelp">
                        {% for error in form.name.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ form.surname.id_for_label }}">Фамилия</label>
                <input type="text" id="{{form.surname.id_for_label}}" name="{{form.surname.name}}"
                class="form-control" aria-describedby="surnameHelp">
                {% if form.surname.errors %}
                    <div class="form-text" id="surnameHelp">
                        {% for error in form.surname.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ form.patronymic.id_for_label }}">Отчество</label>
                <input type="text" id="{{form.patronymic.id_for_label}}" name="{{form.patronymic.name}}"
                class="form-control" aria-describedby="patronymicHelp">
                {% if form.patronymic.errors %}
                    <div class="form-text" id="patronymicHelp">
                        {% for error in form.patronymic.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ form.birthday.id_for_label }}">Дата рождения</label>
                <input type="date" id="{{form.birthday.id_for_label}}" name="{{form.birthday.name}}"
                class="form-control" aria-describedby="birthdayHelp">
                {% if form.birthday.errors %}
                    <div class="form-text" id="birthdayHelp">
                        {% for error in form.birthday.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="w-100 btn btn-primary">Добавить</button>
        </form>
    </div>
</div>
{% endblock %}