{% extends "home.html" %}

{% block title %}Книги{% endblock %}

{% block content %}
<div class="container">
    <div class="row px-3 gx-3">
        <div class="col-12">
            <h3>Книги</h3>
            {% if user.is_staff %}
                <p class="mb-2">
                    <a href="{% url 'books:book_create' %}" class="btn btn-sm btn-primary">Добавить</a> книгу
                </p>
            {% endif %}
        </div>
        <div class="col-6">
            <form action="{% url 'books:book_list_filter' %}" method="get" class="d-flex">
                <input type="text" name="book_name" class="form-control me-2"
                       placeholder="Поиск по названию книги">
                <button type="submit" class="btn btn-outline-success">Поиск</button>
            </form>
            <br>
        </div>
        <br>
        <hr class="mb-2">
    </div>
    <div class="row justify-content-center justify-content-lg-start px-3 gx-3 gy-2">
        {% for object in book_list %}
            <div class="col-12 col-lg-6">
                <div class="border border-2 rounded p-2">
                    <p class="m-0"><strong>Название:</strong> {{ object.name }}</p>
                    <p class="m-0"><strong>Издательство:</strong> {{object.publisher}}</p>
                    <p class="m-0"><strong>Категория:</strong> {{ object.category.name }}</p>
                    <p class="m-0"><strong>В наличии:</strong> {{ object.in_stock }}</p>
                    <a class="link-primary" href="{% url 'books:book' object.pk %}">Подробно</a>
                    {% if object.in_stock > 0 %}
                        <a class="card-link" href="{% url 'books:reservation' object.pk %}">Забронировать</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
