{% extends "home.html" %}

{% block title %}Книга{% endblock %}

{% block content %}
<div class="container p-3">
    <div class="alert alert-danger mt-3" role="alert">
        <h4 class="alert-heading">Удаление книги</h4>
        <p><strong>Вы уверены, что хотите удалить книгу:</strong> {{ object.name }}?</p>
        <p><strong>Год издания:</strong> {{ object.publishing_date }}</p>
        <hr>
        <form action="{% url 'books:book_delete' object.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
    </div>
</div>
{% endblock %}
