{% extends "home.html" %}

{% block title %}Книга{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-7">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Книга</h3>  
                    <div>
                        <p class="card-text"><strong>Название:</strong> {{ object.name }}</p>
                        <p class="card-text"><strong>Категория:</strong> {{ object.category.name }}</p>
                        <p>Авторы:
                            <ul>
                            {% for author in object.authors.all %}
                                <li>{{author.full_name}}</li>
                            {% endfor %}
                            </ul>
                        </p>
                        <p class="card-text"><strong>Описание:</strong> {{ object.description }}</p>
                        <p class="card-text"><strong>Издательство:</strong> {{ object.publisher }}</p>
                        <p class="card-text"><strong>Год издания:</strong> {{ object.publishing_date }} г.</p>
                        <p class="card-text"><strong>Количество:</strong> {{ object.count }} шт.</p>
                        <p class="card-text"><strong>В наличии:</strong> {{ object.in_stock }} шт.</p>
                        {% if object.in_stock > 0 %}
                            <a class="card-link" href="{% url 'books:reservation' object.pk %}">Забронировать</a>
                        {% endif %}
                        {% if user.is_staff %}
                            <a class="card-link" href="{% url 'books:book_list' %}">К списку книг</a>
                            <a class="card-link" href="{% url 'books:book_edit' object.pk %}">Редактировать книгу</a>
                            <a class="card-link" href="{% url 'books:book_delete' object.pk %}">Удалить книгу</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
