{% extends "home.html" %}

{% block title %}Книга{% endblock %}

{% block content %}
<div class="container">
    <div class="shadow-lg border border-2 rounded bg-white p-3 mt-3">
        <p class="h4 mb-3 fw-normal text-center">Редактирование книги</p>
        <form action="" method="post"
        class="row row-cols-1 row-cols-lg-2 justify-content-center gx-3 p-2">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-3 col">
                <label class="form-label" for="{{ form.name.id_for_label }}">Название</label>
                <input type="text" id="{{form.name.id_for_label}}" name="{{form.name.name}}"
                class="form-control" aria-describedby="nameHelp" value="{{form.name.value}}">
                {% if form.name.errors %}
                    <div id="nameHelp" class="form-text">
                        {% for error in form.name.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
            </div>
            <div class="mb-3 col">
                <label class="form-label" for="{{ form.publisher.id_for_label }}">Издательство</label>
                <input type="text" id="{{form.publisher.id_for_label}}" name="{{form.publisher.name}}"
                class="form-control" aria-describedby="publisherHelp" value="{{form.publisher.value}}">
                {% if form.publisher.errors %}
                    <div id="publisherHelp" class="form-text">
                        {% for error in form.publisher.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3 col">
                <label class="form-label" for="{{ form.authors.id_for_label }}">Авторы</label>
                <select id="{{form.authors.id_for_label}}" name="{{form.authors.name}}"
                multiple required class="form-select" aria-describedby="authorsHelp">
                {% for option in form.authors %}
                    {{option}}
                {% endfor %}
                </select>
                {% if form.authors.errors %}
                    <div id="authorsHelp" class="form-text">
                        {% for error in form.authors.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3 col">
                <label class="form-label" for="{{ form.description.id_for_label }}">Описание</label>
                <textarea id="{{form.description.id_for_label}}" name="{{form.description.name}}"
                class="form-control" rows="4" aria-describedby="descriptionHelp">{{form.description.value}}</textarea>
                {% if form.description.errors %}
                    <div id="descriptionHelp" class="form-text">
                        {% for error in form.description.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3 col">
                <label class="form-label" for="{{ form.publishing_date.id_for_label }}">Год издания</label>
                <input type="number" id="{{form.publishing_date.id_for_label}}" name="{{form.publishing_date.name}}"
                class="form-control" min="0" aria-describedby="publishing_dateHelp" value="{{form.publishing_date.value}}">
                {% if form.publishing_date.errors %}
                    <div id="publishing_dateHelp" class="form-text">
                        {% for error in form.publishing_date.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3 col">
                <label class="form-label" for="{{ form.category.id_for_label }}">Категория</label>
                <select type="number" id="{{form.category.id_for_label}}" name="{{form.category.name}}"
                class="form-select" min="0" aria-describedby="categoryHelp">
                {% for option in form.category %}
                    {{option}}
                {% endfor %}
                </select>
                {% if form.category.errors %}
                    <div id="categoryHelp" class="form-text">
                        {% for error in form.category.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3 col">
                <label class="form-label" for="{{ form.count.id_for_label }}">Количество</label>
                <input type="number" id="{{form.count.id_for_label}}" name="{{form.count.name}}"
                class="form-control" min="0" aria-describedby="countHelp" value="{{form.count.value}}">
                {% if form.count.errors %}
                    <div id="countHelp" class="form-text">
                        {% for error in form.count.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col">
                <button class="w-100 btn btn-primary" type="submit">Редактировать</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}