{% extends "home.html" %}

{% block title %}Категория{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="shadow-lg border border-2 rounded bg-white p-3 mt-3"
    style="max-width: 24rem;">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p class="h4 mb-3 fw-normal text-center">Редактирование категории</p>
            <div class="mb-3 col">
                <label for="{{ form.name.id_for_label }}" class="form-label">Название категории</label>
                <input type="text" id="{{form.name.id_for_label}}" name="{{form.name.name}}" value="{{form.name.value}}"
                aria-describedby="nameHelp" class="form-control">
                {% if form.name.errors %}
                <div id="nameHelp" class="form-text">
                    {% for error in form.name.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <button type="submit" class="w-100 btn btn-primary">Редактировать</button>
        </form>
    </div>
</div>
{% endblock %}