{% extends "home.html" %}

{% block title %}Категория{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="form-signin shadow-lg bg-white">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p class="h3 mb-3 fw-normal text-center">Добавление категории</p>
            <div class="mb-3">
                <label for="{{ form.name.id_for_label }}" class="form-label">Название категории</label>
                <input type="text" id="{{form.name.id_for_label}}" name="{{form.name.name}}"
                class="form-control" aria-describedby="nameHelp">
                {% if form.name.errors %}
                    <div class="form-text" id="nameHelp">
                        {% for error in form.name.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="w-100 btn btn-primary">Добавить</button>
        </form>
    </div>
</div>
{% endblock %}