{% extends "home.html" %}

{% block title %}Категории{% endblock %}

{% block content %}
<div class="container">
    <div class="row px-3 gx-3">
        <div class="col">
            <h3>Категории</h3>
            <p class="mb-2">
                <a href="{% url 'books:category_create' %}" class="btn btn-sm btn-primary">Добавить</a> категорию
            </p>
        </div>
        <hr class="mb-2">
    </div>
    <div class="row justify-content-center justify-content-lg-start px-3 gx-3 gy-2">
        {% for object in category_list %}
            <div class="col-12 col-lg-6">
                <div class="border border-2 rounded p-2">
                    <p class="m-0">
                        <strong>Название категории:</strong> {{ object.name }}
                    </p>
                    <a href="{% url 'books:category' object.pk %}"
                    class="link-primary">
                        Подробно
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
