{% extends "home.html" %}

{% block title %}Категория{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-7">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Категория</h3>  
                    <div>
                        <p class="card-text"><strong>Название категории:</strong> {{ object.name }}</p>
                        <a class="card-link" href="{% url 'books:category_list' %}">К списку категорий</a>
                        <a class="card-link" href="{% url 'books:category_edit' object.pk %}">Редактировать категорию</a>
                        <a class="card-link" href="{% url 'books:category_delete' object.pk %}">Удалить категорию</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
