{% extends "home.html" %}

{% block title %}Бронирование{% endblock %}

{% block content %}
<div class="container">
    <div class="row px-3 gx-3">
        <div class="col">
            <h3>Ваши бронирования книг</h3>
            {% if user.is_staff %}
            <p><a href="{% url 'books:reservation_list_admin' %}">Перейти</a> к списку бронирований всех пользователей.</p>
            {% endif %}
        </div>
        <hr class="mb-2">
    </div>
    <div class="row justify-content-center justify-content-lg-start px-3 gx-3 gy-2">
        {% for object in reservation_list %}
            <div class="col-12 col-lg-6">
                <div class="border border-2 rounded p-2">
                    <p class="m-0">
                        <strong>Книга:</strong> {{ object.book.name }}
                    </p>
                    {% include "books/reser_pattern_list.html" %}
                    <a href="{% url 'books:reservation_detail' object.pk %}"
                    class="link-primary">
                        Подробно
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
