{% extends "home.html" %}

{% block title %}Бронирование{% endblock %}

{% block content %}
<div class="container">
    <div class="row px-3 gx-3">
        <div class="col-12">
            <h3>Бронирования книг всех пользователей</h3>
        </div>
        <div class="col-8">
            <form action="{% url 'books:reservation_filter' %}" method="get" class="d-flex">
                <input type="text" name="book_name" class="form-control me-2"
                       placeholder="Поиск по названию книги">
                <input type="text" name="username" class="form-control me-2"
                       placeholder="Поиск по имени пользователя">
                <button type="submit" class="btn btn-outline-success">Поиск</button>
            </form>
            <br>
        </div>
        <hr class="mb-2">
    </div>
    <div class="row justify-content-center justify-content-lg-start px-3 gx-3 gy-2">
        {% for object in reservation_list %}
            <div class="col-12 col-lg-6">
                <div class="border border-2 rounded p-2">
                    <p class="m-0">
                        <strong>Книга:</strong> {{ object.book.name }}
                    </p>
                    <p class="m-0">Пользователь: {{ object.user.username }}</p>
                    {% include "books/reser_pattern_list.html" %}
                    <a href="{% url 'books:reservation_detail' object.pk %}"
                    class="link-primary">
                        Подробно
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
