{% extends "home.html" %}

{% block title %}Бронирование{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="form-signin shadow-lg bg-white">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p class="h3 mb-3 fw-normal text-center">Бронирование книги</p>
            <div class="mb-3">
                <label for="{{ form.date_start.id_for_label }}" class="form-label">Дата начала бронирования</label>
                <input type="datetime-local" id="{{form.date_start.id_for_label}}" name="{{form.date_start.name}}"
                class="form-control" aria-describedby="date_startHelp" required>
                {% if form.date_start.errors %}
                    <div class="form-text" id="date_startHelp">
                        {% for error in form.date_start.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.date_end.id_for_label }}" class="form-label">Дата завершения бронирования</label>
                <input type="datetime-local" id="{{form.date_end.id_for_label}}" name="{{form.date_end.name}}"
                class="form-control" aria-describedby="date_endHelp" required>
                {% if form.date_end.errors %}
                    <div class="form-text" id="date_endHelp">
                        {% for error in form.date_end.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="w-100 btn btn-primary">Забронировать</button>
        </form>
    </div>
</div>
{% endblock %}