{% if user.is_staff %}
    {% if not object.completed %}
        {% if object.received %}
            <p class="card-text alert-info">Пользователь забрал книгу.</p>
        {% else %}
            <p class="card-text alert-warning">Пользователь не забрал книгу.</p>
        {% endif %}
    {% else %}
        <p class="card-text alert-info">Пользователь вернул книгу.</p>
    {% endif %}
{% else %}
    {% if not object.completed %}
        {% if object.received %}
            <p class="card-text alert-info">Вы забрали книгу.</p>
        {% else %}
            <p class="card-text alert-warning">Вы не забрали книгу.</p>
        {% endif %}
    {% else %}
        <p class="card-text alert-info">Вы вернули книгу.</p>
    {% endif %}
{% endif %}