{% extends "home.html" %}

{% block title %}Бронирование{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-7">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Бронирование книги</h3>
                    <div>
                        <p class="card-text"><strong>Книга:</strong> {{ object.book.name }}</p>
                        {% if user.is_staff %}
                            <p class="card-text">Пользователь: {{ object.user.username }}</p>
                            <p class="card-text">Полное имя пользователя: {{ object.user.full_name }}</p>
                        {% endif %}
                        <p>Авторы:
                            <ul>
                            {% for author in object.book.authors.all %}
                                <li>{{author.full_name}}</li>
                            {% endfor %}
                            </ul>
                        </p>
                        <p class="card-text">Дата начала бронирования: {{ object.date_start }}</p>
                        <p class="card-text">Дата окончания бронирования: {{ object.date_end }}</p>
                        {% include "books/reservation_pattern.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
