{% if not object.completed %}
    {% if object.received %}
        {% if not user.is_staff %}
            <p class="card-text alert-info">Вы забрали книгу.</p>
        {% else %}
            <p class="card-text alert-info">Книга выдана пользователю</p>
            <a class="card-link"
                href="{% url 'books:reservation_returned' object.pk %}">Вернуть</a>
        {% endif %}
    {% else %}
        {% if not user.is_staff %}
            <p class="card-text alert-warning">Вы не забрали книгу.</p>
        {% else %}
            <p class="card-text alert-warning">Книга не выдана пользователю</p>
            <a class="card-link"
                href="{% url 'books:reservation_give_out' object.pk %}">Выдать</a>
        {% endif %}
    {% endif %}
{% else %}
    {% if not user.is_staff %}
        <p class="card-text alert-info">Вы вернули книгу.</p>
    {% else %}
        <p class="card-text alert-info">Пользователь вернул книгу.</p>
    {% endif %}
{% endif %}