{% extends "home.html" %}

{% block title %}Неверный запрос{% endblock title %}

{% block content %}
<div class="container">
    <h2>Запрос некорректен.</h2>
    <p>Проверьте правильность введенного запроса в адресной строке.</p>
    <p>Вернуться на <a href="{% url 'home' %} ">главную страницу</a>.</p>
</div>
{% endblock content %}