{% extends "home.html" %}

{% block title %}Недостаточно прав{% endblock title %}

{% block content %}
<div class="container">
    <h2>Недостаточно прав.</h2>
    <p>{{ error }}</p>
    <p>Вернуться на <a href="{% url 'home' %} ">главную страницу</a>.</p>
</div>
{% endblock content %}