{% extends "home.html" %}

{% block title %}Страница не найдена{% endblock title %}

{% block content %}
<div class="container">
    <h2>Запрашиваемая страница не найдена.</h2>
    <p>Возможно, неправильно указан путь в адресной строке или страница была удалена.</p>
    <p>Вернуться на <a href="{% url 'home' %} ">главную страницу</a>.</p>
</div>
{% endblock content %}