{% extends "home.html" %}

{% block title %}Проблемы на сервере{% endblock title %}

{% block content %}
<div class="container">
    <h2>Возникли проблемы на сервере.</h2>
    <p>Информация об ошибке была отправлена разработчикам.</p>
    <p>Вернуться на <a href="{% url 'home' %} ">главную страницу</a>.</p>
</div>
{% endblock content %}