{% extends "home.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="form-signin shadow-lg bg-white">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p class="h3 mb-3 fw-normal text-center">Вход</p>
            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Логин</label>
                <input type="text" id="{{ form.username.id_for_label }}"
                name="{{form.username.name}}" class="form-control"
                aria-describedby="usernameHelp">
                {% if form.username.errors %}
                <div class="form-text" id="usernameHelp">
                    {% for error in form.username.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.password.id_for_label }}">Пароль</label>
                <input type="password" id="{{ form.password.id_for_label }}"
                name="{{form.password.name}}" class="form-control"
                aria-describedby="passwordHelp">
                {% if form.password.errors %}
                <div class="form-text" id="passwordHelp">
                    {% for error in form.password.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <button class="w-100 btn btn-primary" type="submit">Войти</button>
        </form>
        <p class="text-center mb-0"><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
    </div>
</div>

{% endblock %}