{% extends "home.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="form-signin shadow-lg bg-white">
        <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p class="h3 mb-3 fw-normal text-center">Восстановление пароля</p>
            <div class="mb-3">
                <label for="{{ form.email.id_for_label }}" class="form-label">Почта</label>
                <input type="text" id="{{ form.email.id_for_label }}"
                name="{{form.email.name}}" class="form-control"
                aria-describedby="emailHelp">
                {% if form.email.errors %}
                <div class="form-text" id="emailHelp">
                    {% for error in form.email.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <button class="w-100 btn btn-primary" type="submit">Отправить письмо</button>
        </form>
    </div>
</div>
{% endblock %}