{% extends "home.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="form-signin shadow-lg bg-white">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p class="h4 mb-3 fw-normal text-center">Восстановление пароля</p>
            <div class="mb-3">
                <label for="{{ form.new_password1.id_for_label }}" class="form-label">Новый пароль</label>
                <input type="password" name="{{ form.new_password1.name }}"
                id="{{ form.new_password1.id_for_label }}" class="form-control"
                aria-describedby="new_password1Help">
                {% if form.new_password1.errors %}
                    <div class="form-text" id="new_password1Help">
                        {% for error in form.new_password1.errors %}
                            <p>{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.new_password2.id_for_label }}" class="form-label">Повторите пароль</label>
                <input type="password" name="{{ form.new_password2.name }}"
                id="{{ form.new_password2.id_for_label }}" class="form-control"
                aria-describedby="new_password2Help">
                {% if form.new_password2.errors %}
                    <div class="form-text" id="new_password2Help">
                        {% for error in form.new_password2.errors %}
                            <p>{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <button class="w-100 btn btn-primary" type="submit">Восстановить</button>
        </form>
    </div>
</div>
{% endblock %}