{% extends "home.html" %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="form-signin shadow-lg bg-white">
        <form action="{% url 'password_change' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p class="h4 mb-3 fw-normal text-center">Смена пароля</p>
            <div class="mb-3">
                <label for="{{ form.old_password.id_for_label }}">Старый пароль</label>
                <input type="password" id="{{ form.old_password.id_for_label }}"
                name="{{ form.old_password.name }}" class="form-control"
                aria-describedby="old_passwordHelp">
                {% if form.old_password.errors %}
                    <div id="old_passwordHelp" class="form-text">
                        {% for error in form.old_password.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.new_password1.id_for_label }}">Новый пароль</label>
                <input type="password" id="{{ form.new_password1.id_for_label }}"
                name="{{ form.new_password1.name }}" class="form-control"
                aria-describedby="new_password1Help">
                {% if form.new_password1.errors %}
                    <div id="new_password1Help" class="form-text">
                        {% for error in form.new_password1.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.new_password2.id_for_label }}">Повторите новый пароль</label>
                <input type="password" id="{{ form.new_password2.id_for_label }}"
                name="{{ form.new_password2.name }}" class="form-control"
                aria-describedby="new_password2Help">
                {% if form.new_password2.errors %}
                    <div id="new_password2Help" class="form-text">
                        {% for error in form.new_password2.errors %}
                            <p class="text-danger m-0">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="w-100 btn btn-primary">Сменить пароль</button>
        </form>
    </div>
</div>
{% endblock %}