{% extends "home.html" %}

{% block title %}Смена пароля{% endblock title %}

{% block content %}
<div class="container">
    <div class="alert alert-success mt-3" role="alert">
        <h4 class="alert-heading">Смена пароля</h4>
        {% block info %}{% endblock info %}
    </div>
</div>
{% endblock content %}