{% extends "home.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="form-signin shadow-lg bg-white">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p class="h3 mb-3 fw-normal text-center">Регистрация</p>
            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Логин</label>
                <input type="text" id="{{ form.username.id_for_label }}"
                name="{{ form.username.name }}" class="form-control"
                aria-describedby="usernameHelp">
                {% if form.username.errors %}
                <div id="usernameHelp" class="form-text">
                    {% for error in form.username.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.first_name.id_for_label }}" class="form-label">Имя</label>
                <input type="text" id="{{ form.first_name.id_for_label }}"
                name="{{ form.first_name.name }}" class="form-control"
                aria-describedby="first_nameHelp" required>
                {% if form.first_name.errors %}
                <div id="first_nameHelp" class="form-text">
                    {% for error in form.first_name.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.last_name.id_for_label }}" class="form-label">Фамилия</label>
                <input type="text" id="{{ form.last_name.id_for_label }}"
                name="{{ form.last_name.name }}" class="form-control"
                aria-describedby="last_nameHelp" required>
                {% if form.last_name.errors %}
                <div id="last_nameHelp" class="form-text">
                    {% for error in form.last_name.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.patronymic.id_for_label }}" class="form-label">Отчество</label>
                <input type="text" id="{{ form.patronymic.id_for_label }}"
                name="{{ form.patronymic.name }}" class="form-control"
                aria-describedby="patronymicHelp" required>
                {% if form.patronymic.errors %}
                <div id="patronymicHelp" class="form-text">
                    {% for error in form.patronymic.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3 col">
                <label class="form-label" for="{{ form.birthday.id_for_label  }}">Дата рождения</label>
                <input type="date" id="{{ form.birthday.id_for_label }}"
                name="{{ form.birthday.name }}" class="form-control"
                aria-describedby="birthdayHelp">
                {% if form.birthday.errors %}
                <div id="birthdayHelp" class="form-text">
                    {% for error in form.birthday.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3 col">
                <label class="form-label" for="{{ form.residence_place.id_for_label  }}">Место проживания</label>
                <input type="text" id="{{ form.residence_place.id_for_label }}"
                name="{{ form.residence_place.name }}" class="form-control"
                aria-describedby="residence_placeHelp">
                {% if form.residence_place.errors %}
                <div id="residence_placeHelp" class="form-text">
                    {% for error in form.residence_place.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3 col">
                <label class="form-label" for="{{ form.work_study_place.id_for_label }}">Место учебы работы</label>
                <input type="text" id="{{ form.work_study_place.id_for_label }}"
                name="{{ form.work_study_place.name }}" class="form-control"
                aria-describedby="work_study_placeHelp">
                {% if form.work_study_place.errors %}
                <div id="work_study_placeHelp" class="form-text">
                    {% for error in form.work_study_place.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.email.id_for_label }}">Почта</label>
                <input type="email" id="{{ form.email.id_for_label }}"
                name="{{form.email.name}}" class="form-control"
                aria-describedby="emailHelp" required>
                {% if form.email.errors %}
                <div id="emailHelp" class="form-text">
                    {% for error in form.email.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.password1.id_for_label }}">Пароль</label>
                <input type="password" id="{{ form.password1.id_for_label }}"
                name="{{form.password1.name}}" class="form-control"
                aria-describedby="password1Help" required>
                {% if form.password1.errors %}
                <div id="password1Help" class="form-text">
                    {% for error in form.password1.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.password2.id_for_label }}">Повторите пароль</label>
                <input type="password" id="{{ form.password2.id_for_label }}"
                name="{{form.password2.name}}" class="form-control"
                aria-describedby="password2Help" required>
                {% if form.password2.errors %}
                <div id="password2Help" class="form-text">
                    {% for error in form.password2.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <button class="w-100 btn btn-primary" type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>
</form>
{% endblock %}