{% extends "home.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="card shadow-lg mt-3" style="max-width: 24rem;">
            <div class="card-body">
                <h5 class="card-title">Профиль</h5>
                <p>Логин: {{ request.user.username }}</p>
                <p>Имя: {{ request.user.first_name }}</p>
                <p>Фамилия: {{ request.user.last_name }}</p>
                <p>Отчество: {{ request.user.patronymic }} </p>
                {% if request.user.birthday %}
                    <p>Дата рождения: {{ request.user.birthday }}</p>
                {% else %}
                    <p>Дата рождения: не указана</p>
                {% endif %}
                <p>Место проживания: {{ request.user.residence_place }}</p>
                <p>Место учебы/работы: {{ request.user.work_study_place }}</p>
                <p>Почта: {{ request.user.email }}</p>
                <a class="card-link"
                href="{% url 'accounts:user_edit' request.user.pk %}">
                    Редактировать профиль
                </a>
                <a class="card-link"
                href="{% url 'password_change' %}">
                    Сменить пароль
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
