{% extends "home.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="container">
    <div class="shadow-lg border border-2 rounded bg-white p-3 mt-3">
        <p class="h4 mb-3 fw-normal text-center">Редактирование профиля</p>
        <form action="" method="post"
        class="row row-cols-1 row-cols-lg-2 justify-content-center gx-3 p-2">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-3 col">
                <label for="{{ form.username.id_for_label }}" class="form-label">Логин</label>
                <input type="text" id="{{ form.username.id_for_label }}"
                name="{{ form.username.name }}" class="form-control"
                value="{{ form.username.value }}" aria-describedby="usernameHelp">
                {% if form.username.errors %}
                <div id="usernameHelp" class="form-text">
                    {% for error in form.username.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3 col">
                <label for="{{ form.first_name.id_for_label }}" class="form-label">Имя</label>
                <input type="text" id="{{ form.first_name.id_for_label }}"
                name="{{ form.first_name.name }}" class="form-control"
                value="{{ form.first_name.value }}" aria-describedby="first_nameHelp">
                {% if form.first_name.errors %}
                <div id="first_nameHelp" class="form-text">
                    {% for error in form.first_name.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3 col">
                <label for="{{ form.last_name.id_for_label }}" class="form-label">Фамилия</label>
                <input type="text" id="{{ form.last_name.id_for_label }}"
                name="{{ form.last_name.name }}" class="form-control"
                value="{{ form.last_name.value }}" aria-describedby="last_nameHelp">
                {% if form.last_name.errors %}
                <div id="last_nameHelp" class="form-text">
                    {% for error in form.last_name.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3 col">
                <label for="{{ form.patronymic.id_for_label }}" class="form-label">Отчество</label>
                <input type="text" id="{{ form.patronymic.id_for_label }}"
                name="{{ form.patronymic.name }}" class="form-control"
                value="{{ form.patronymic.value }}" aria-describedby="patronymicHelp">
                {% if form.patronymic.errors %}
                <div id="patronymicHelp" class="form-text">
                    {% for error in form.patronymic.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3 col">
                <label class="form-label" for="{{ form.birthday.id_for_label  }}">Дата рождения</label>
                <input type="date" id="{{ form.birthday.id_for_label }}"
                name="{{ form.birthday.name }}" class="form-control"
                value="{{ form.birthday.value }}" aria-describedby="birthdayHelp">
                {% if form.birthday.errors %}
                <div id="birthdayHelp" class="form-text">
                    {% for error in form.birthday.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3 col">
                <label class="form-label" for="{{ form.residence_place.id_for_label  }}">Место проживания</label>
                <input type="text" id="{{ form.residence_place.id_for_label }}"
                name="{{ form.residence_place.name }}" class="form-control"
                value="{{ form.residence_place.value }}" aria-describedby="residence_placeHelp">
                {% if form.residence_place.errors %}
                <div id="residence_placeHelp" class="form-text">
                    {% for error in form.residence_place.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3 col">
                <label class="form-label" for="{{ form.work_study_place.id_for_label }}">Место учебы работы</label>
                <input type="text" id="{{ form.work_study_place.id_for_label }}"
                name="{{ form.work_study_place.name }}" class="form-control"
                value="{{ form.work_study_place.value }}" aria-describedby="work_study_placeHelp">
                {% if form.work_study_place.errors %}
                <div id="work_study_placeHelp" class="form-text">
                    {% for error in form.work_study_place.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3 col">
                <label for="{{ form.email.id_for_label }}" class="form-label">Почта</label>
                <input type="text" id="{{ form.email.id_for_label }}"
                name="{{ form.email.name }}" class="form-control"
                value="{{ form.email.value }}" aria-describedby="emailHelp">
                {% if form.email.errors %}
                <div id="emailHelp" class="form-text">
                    {% for error in form.email.errors %}
                        <p class="text-danger m-0">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="col">
                <button class="w-100 btn btn-primary" type="submit">Редактировать</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}