{% load static %}

<!doctype html>
<html class="h-100" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>{% block title %}Электронная библиотека{% endblock %}</title>
  </head>
  <body class="d-flex flex-column h-100">
    <script defer src="{% static 'js/toast_show.js' %}" ></script>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                      aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'books:book_list' %}" class="nav-link">Библиотека</a>
                    </li>
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'books:reservation_list' %}" class="nav-link">Бронирования</a>
                    </li>
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a href="{% url 'books:category_list' %}" class="nav-link">Категории</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'books:author_list' %}" class="nav-link">Авторы</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'accounts:profile' %}" class="nav-link">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">Выйти</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a href="{% url 'register' %}" class="nav-link">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Войти</a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
        </nav>    
    </header>
    
    <main class="flex-shrink-0 position-relative">
        {% if messages %}
        <!-- Position it -->
        <div class="toast-container position-absolute top-0 end-0 p-3"
        style="max-height:  80vh; z-index: 100;">
            <!-- Then put toasts within -->
            {% for message in messages %}
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
              <div class="toast-header">
                <strong class="me-auto">Уведомление</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                {{ message }}
              </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}{% endblock %}
    </main>

    <footer class="mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Электронная библиотека - 2021</span>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>